@model TemplateContext<Presentation> 

@{
    IFontData[] fonts = Model.Object.FontsManager.GetEmbeddedFonts();
    foreach (var font in fonts) 
    {
        <text>@@font-face
        {
            font-family: "@font.FontName";
            src: url("@FontHelper.GetEmbeddedFontUrl(font, FontStyle.Regular)");
        }
        </text>
    }
      
      var animateTransitions = Model.Global.Get<bool>("animateTransitions");	  
	  var margin = Model.Global.Get<int>("slideMargin");
}

    body {
        margin: 0 !important;
        padding: 0 !important;
        background-color: #e6e6e6;
    }

    .bg {
            @(animateTransitions ? "width: " + (Model.Object.SlideSize.Size.Width + margin * 2) + "px;" : "")
            @(animateTransitions ? "height: " + (Model.Object.SlideSize.Size.Height + margin * 2) + "px;" : "")
            @(animateTransitions ? "overflow: hidden;" : "")
            @(animateTransitions ? "position: fixed;" : "")
    }
    
    .slide {
        width: @((Model.Object.SlideSize.Size.Width + margin / 2) + "px");
        height: @((Model.Object.SlideSize.Size.Height + margin / 2) + "px");
        outline: 1px solid #c6c6c6;
        overflow: hidden;
        margin: @(margin + "px");
        @(animateTransitions ? "position: absolute;" : "")
    }

    .slide-content {
        
    }

    .shape {
        position: absolute;
    }

    .table {
        position: absolute;
        border-collapse: collapse;
    }

    .paragraph {
        position: absolute;
    }

    .pictureframe {
        position: absolute;
    }

    .thumbnail {
        margin: @(Model.Global.Get<int>("slideMargin") + "px");
        margin-top: @(Model.Global.Get<int>("slideMargin") + "px");
    }
      
    .navigation {
            position: absolute;
            width: 100px;
            height: 50px;
            border: solid black 1px;
            text-align: center;
            vertical-align: middle;
            line-height: 50px;
            display: none;
            cursor: pointer;
      }