@model TemplateContext<Presentation> 

@{
    IFontData[] fonts = Model.Object.FontsManager.GetEmbeddedFonts();
    foreach (var font in fonts) 
    {
        <text>@@font-face
        {
            font-family: "@font.FontName";
            src: url("@FontHelper.GetEmbeddedFontUrl(font, FontStyle.Regular)");
        }
        </text>
    }
      
      var animateTransitions = Model.Global.Get<bool>("animateTransitions");
      string slidePosition = "";
      if (animateTransitions)
      {
            slidePosition = "position: absolute;";
      }
}

    body {
        margin: 0 !important;
        padding: 0 !important;
        background-color: #e6e6e6;
    }

    .bg {
    }
    
    .slide {
        width: @(Model.Object.SlideSize.Size.Width + "px");
        height: @(Model.Object.SlideSize.Size.Height + "px");
        outline: 1px solid #c6c6c6;
        overflow: hidden;
        margin: @(Model.Global.Get<int>("slideMargin") + "px");
        @slidePosition
    }

    .slide-content {
        
    }

    .shape {
        position: absolute;
    }

    .table {
        position: absolute;
        border-collapse: collapse;
    }

    .paragraph {
        position: absolute;
    }

    .pictureframe {
        position: absolute;
    }

    .thumbnail {
        margin: @(Model.Global.Get<int>("slideMargin") + "px");
        margin-top: @(Model.Global.Get<int>("slideMargin") + "px");
    }
      
    .navigation {
            position: absolute;
            width: 100px;
            height: 50px;
            border: solid black 1px;
            text-align: center;
            vertical-align: middle;
            line-height: 50px;
            display: none;
            cursor: pointer;
      }