@model TemplateContext<Presentation>
    
@{
    Presentation contextObject = Model.Object;
    string slide1Path = Model.Global.Get<string>("slide1path");
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>@contextObject.DocumentProperties.Title</title>
        <link rel="stylesheet" type="text/css" href="styles\pres.css" />
        <link rel="stylesheet" type="text/css" href="styles\master.css" />
    </head>
    <frameset cols="225, *">
      <frame src="menu.html" name="menu_page" />
      <frame src="@slide1Path" name="slide_page" />
      
      <noframes>
         <body>Your browser does not support frames.</body>
      </noframes>
   </frameset>
</html>