@model TemplateContext<Slide>

@{
    Slide contextObject = Model.Object;
    bool animateTransitions = Model.Global.Get<bool>("animateTransitions");
    int slideNumber = SlideHelper.GetVisibleSlideNumber(contextObject);
}

@helper EmitShape(IShape shape, Slide contextObject, bool animateTransitions, int slideNumber) 
{
    var margin = Model.Global.Get<int>("slideMargin");
    var origin = new Point(margin, 0);

    if (shape is AutoShape && (((AutoShape)shape).ShapeType == Aspose.Slides.ShapeType.Rectangle || ((AutoShape)shape).ShapeType == Aspose.Slides.ShapeType.NotDefined))
    {
        var subModel = Model.SubModel((AutoShape)shape);
        subModel.Local.Put<Point>("origin", origin);

        @Include("autoshape", subModel)
    }
    else if (shape is VideoFrame)
    {
        var subModel = Model.SubModel((VideoFrame)shape);
        subModel.Local.Put<Point> ("origin", origin);

        @Include("videoframe", subModel)
    }
    else if (shape is PictureFrame)
    {
        var subModel = Model.SubModel((PictureFrame)shape);
        subModel.Local.Put<Point>("origin", origin);

        @Include("pictureframe", subModel)
    }
    else if (shape is Table)
    {
        var subModel = Model.SubModel((Table)shape);
        subModel.Local.Put<Point>("origin", origin);

        @Include("table", subModel)
    }
    else if (shape is Shape)
    {
        var subModel = Model.SubModel((Shape)shape);
        subModel.Local.Put("origin", origin);

        @Include("shape", subModel)
    }  
}


<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="..\styles\pres.css" />
        <link rel="stylesheet" type="text/css" href="..\styles\master.css" />
    </head>
    <body>
            
        <div class="slide master-bg">
            @foreach (var shape in contextObject.LayoutSlide.MasterSlide.Shapes)
            {
            var subModel = Model.SubModel((VideoFrame)shape);
            subModel.Local.Put<Point>("origin", origin);

            @Include("videoframe", subModel)
            }
				else if (shape is PictureFrame)
				{
					var subModel = Model.SubModel((PictureFrame)shape);
					subModel.Local.Put("origin", origin);

					@Include("pictureframe", subModel)
				}
				else if (shape is Table)
				{
					var subModel = Model.SubModel((Table)shape);
					subModel.Local.Put("origin", origin);

					@Include("table", subModel)
                }
            }

            @foreach (var shape in contextObject.LayoutSlide.Shapes)
            {
                if(shape.Placeholder == null) {
                    @EmitShape(shape, contextObject, animateTransitions, slideNumber);
                }
            }        
            
            @foreach (var shape in contextObject.Shapes)
            {
                @EmitShape(shape, contextObject, animateTransitions, slideNumber);
            }
        </div>
        
    </body>
</html>