@model TemplateContext<Presentation>    
        
@{    
    Presentation contextObject = Model.Object;
    Model.Global.Put("navigationEnabled", true);
    var slideWidth = contextObject.SlideSize.Size.Width;
    var slideHeight = contextObject.SlideSize.Size.Height;
    var viewboxValue = "0 0 " + slideWidth + " " + slideHeight;
    var prevSlideButtonPosition = "left: " + (slideWidth / 2 - 100 - 5 + 240) + "px; top: " + (slideHeight + 40) + "px;";
    var nextSlideButtonPosition = "left: " + (slideWidth / 2 + 5 + 240) + "px; top: " + (slideHeight + 40) + "px;";
}
    
<!DOCTYPE html>    
    
<html     
    xmlns="http://www.w3.org/1999/xhtml"    
    xmlns:svg="http://www.w3.org/2000/svg"    
    xmlns:xlink="http://www.w3.org/1999/xlink">    
<head>    
    <meta charset="utf-8" />    
    <title>@contextObject.DocumentProperties.Title</title>    
    <link rel="stylesheet" type="text/css" href="pres.css" />    
    <link rel="stylesheet" type="text/css" href="master.css" />    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js">
    </script>
    <script src="animation.js"></script>
    <script src="effects.js"></script>
    <script src="navigation.js"></script>
</head>    
<body>
    <div class="navigationArea">        
        @for(int i = 0; i<contextObject.Slides.Count; i++)
        {
            var slide = contextObject.Slides[i];
            if (slide.Hidden)
            {
                continue;
            }
            
            var slideNumber = slide.SlideNumber;
            var thumbnailSource = "images\\thumbnail" + slideNumber + ".png";
            var thumbnailId = "slideThumb-" + slideNumber;
            
            if (Model.Global.Get<bool>("embedImages"))
            {
                using (var ms = new System.IO.MemoryStream())
                {
                    var slideThumbnail = slide.GetThumbnail();
                    slideThumbnail.Save(ms, ImageFormat.Png);
                    thumbnailSource = "data:image/png;base64, " + Convert.ToBase64String(ms.ToArray());
                }
            }
            
            <div id="@thumbnailId" data-number="@slideNumber" class="slideThumb"><img src="@thumbnailSource"/></div>
        }
    </div>
    
    <div class="bg" style="position: relative; float: left;">
        <div id="flash" class="slide" style="background-color: #FFFFFF; outline: 0; display: none;">
        </div>
        <div id="blackboard" class="slide" style="background-color: #000000; outline: 0; display: none;">
        </div>
        
        @foreach (Slide slide in contextObject.Slides)    
        {    
            if (slide.Hidden)    
            {    
                continue;    
            }    
                
            @Include("slide", Model.SubModel(slide))    
        }
        
        <div id="svgdiv">
            <svg width="0" height="0" xmlns="http://www.w3.org/2000/svg" style="width: 100%; height: auto;">
                <defs>
                    <clipPath id="effectsclip" viewbox="@viewboxValue"></clipPath>
                    <clipPath id="effectsclip1" viewbox="@viewboxValue"></clipPath>
                    <clipPath id="effectsclip2" viewbox="@viewboxValue"></clipPath>
                    <clipPath id="effectsclip3" viewbox="@viewboxValue"></clipPath>
                    <clipPath id="effectsclip4" viewbox="@viewboxValue"></clipPath>
                    <clipPath id="effectsclip5" viewbox="@viewboxValue"></clipPath>
                    <clipPath id="effectsclip6" viewbox="@viewboxValue"></clipPath>
                    <clipPath id="effectsclip7" viewbox="@viewboxValue"></clipPath>
                    <clipPath id="effectsclip8" viewbox="@viewboxValue"></clipPath>
                </defs>
            </svg>
        </div>
        <div id="svgdivpaths">
            <svg id="patheffects" width="@slideWidth" height="@slideHeight" viewBox="@viewboxValue">
                <path id="entranceBouncePath" d="M -310 -150 Q -200 -330 -110 -20 Q -80 -80 -60 -10 Q -40 -50 -20 0 Q -10 -30 0 0" fill="none"></path>
                <path id="exitBouncePath" d="M 0 0 Q 110 -180 200 130 Q 230 70 250 140 Q 270 100 290 150 Q 300 120 310 150" fill="none"></path>
                <path id="entranceSpiralPath" d="M -430 -210 C -310 -380 90 -380 200 -300 C 400 -200 350 60 110 130 C -130 150 -200 -70 20 -80 C 140 -70 70 50 0 0" fill="none"></path>
                <path id="exitSpiralPath" d="M 0 0 C -50 -10 0 -90 70 -40 C 150 40 -20 150 -110 30 C -160 -50 -70 -200 160 -150 C 370 -100 430 380 -350 400" fill="none"></path>
                <path id="entranceCenterRevolvePath" d="M 0 230 A 40 40 0 0 0 0 0" fill="none"></path>
                <path id="exitCenterRevolvePath" d="M 0 0 A 40 40 0 1 1 0 230" fill="none"></path>
                <path id="entranceCurveUpDownPath" d="M -70 240 C 40 260 140 180 140 70 C 140 -20 30 -70 0 0" fill="none"></path>
                <path id="exitCurveUpDownPath" d="M 0 0 C 10 -40 120 -40 130 70 C 120 160 90 220 -70 240" fill="none"></path>
            </svg>
        </div>
    </div>    
    
    <button class="navigationButton" id="PrevSlide" style="@prevSlideButtonPosition">Prev Slide</button>    
    <button class="navigationButton" id="NextSlide" style="@nextSlideButtonPosition">Next Slide</button>    
      
</body>
</html>