@model TemplateContext<Presentation>    
        
@{    
    Presentation contextObject = Model.Object;
    Model.Global.Put("navigationEnabled", true);
}    
    
<!DOCTYPE html>    
    
<html     
    xmlns="http://www.w3.org/1999/xhtml"    
    xmlns:svg="http://www.w3.org/2000/svg"    
    xmlns:xlink="http://www.w3.org/1999/xlink">    
<head>    
    <meta charset="utf-8" />    
    <title>@contextObject.DocumentProperties.Title</title>    
    <link rel="stylesheet" type="text/css" href="pres.css" />    
    <link rel="stylesheet" type="text/css" href="master.css" />    
    <script src="jquery.js"></script>    
    <script src="anime.js"></script>    
    <script src="animation.js"></script>
    <script src="navigation.js"></script>
</head>    
<body>
    <div class="navigationArea">        
        @for(int i = 0; i<contextObject.Slides.Count; i++)
        {
            var slide = contextObject.Slides[i];
            if (slide.Hidden)
            {
                continue;
            }
            
            var slideNumber = slide.SlideNumber;
            var thumbnailSource = "images\\thumbnail" + slideNumber + ".png";
            
            if (Model.Global.Get<bool>("embedImages"))
            {
                using (var ms = new System.IO.MemoryStream())
                {
                    var slideThumbnail = slide.GetThumbnail();
                    slideThumbnail.Save(ms, ImageFormat.Png);
                    thumbnailSource = "data:image/png;base64, " + Convert.ToBase64String(ms.ToArray());
                }
            }
            
            <div id="slideThumb-@slideNumber" data-number="@slideNumber" class="slideThumb"><img src="@thumbnailSource"/></div>
        }
    </div>
    
    <div class="bg" style="position: relative; float: left;">
        <div id="flash" class="slide" style="background-color: #FFFFFF; outline: 0; display: none;">
        </div>
        <div id="blackboard" class="slide" style="background-color: #000000; outline: 0; display: none;">
        </div>
        
        @foreach (Slide slide in contextObject.Slides)    
        {    
            if (slide.Hidden)    
            {    
                continue;    
            }    
                
            @Include("slide", Model.SubModel(slide))    
        }
        
        <div id="svgdiv">
            <svg width="0" height="0" xmlns="http://www.w3.org/2000/svg" style="width: 100%; height: auto;">
                <defs>
                    <clipPath id="effectsclip" viewbox="0 0 @Model.Object.SlideSize.Size.Width @Model.Object.SlideSize.Size.Height"></clipPath>
                    <clipPath id="effectsclip1" viewbox="0 0 @Model.Object.SlideSize.Size.Width @Model.Object.SlideSize.Size.Height"></clipPath>
                    <clipPath id="effectsclip2" viewbox="0 0 @Model.Object.SlideSize.Size.Width @Model.Object.SlideSize.Size.Height"></clipPath>
                    <clipPath id="effectsclip3" viewbox="0 0 @Model.Object.SlideSize.Size.Width @Model.Object.SlideSize.Size.Height"></clipPath>
                    <clipPath id="effectsclip4" viewbox="0 0 @Model.Object.SlideSize.Size.Width @Model.Object.SlideSize.Size.Height"></clipPath>
                    <clipPath id="effectsclip5" viewbox="0 0 @Model.Object.SlideSize.Size.Width @Model.Object.SlideSize.Size.Height"></clipPath>
                    <clipPath id="effectsclip6" viewbox="0 0 @Model.Object.SlideSize.Size.Width @Model.Object.SlideSize.Size.Height"></clipPath>
                    <clipPath id="effectsclip7" viewbox="0 0 @Model.Object.SlideSize.Size.Width @Model.Object.SlideSize.Size.Height"></clipPath>
                    <clipPath id="effectsclip8" viewbox="0 0 @Model.Object.SlideSize.Size.Width @Model.Object.SlideSize.Size.Height"></clipPath>
                </defs>
            </svg>
        </div>
    </div>    
    
    <button class="navigationButton" id="PrevSlide" style="left: @(Model.Object.SlideSize.Size.Width / 2 - 100 - 5 + 240)px; top: @(Model.Object.SlideSize.Size.Height + 40)px;">Prev Slide</button>    
    <button class="navigationButton" id="NextSlide" style="left: @(Model.Object.SlideSize.Size.Width / 2 + 5 + 240)px; top: @(Model.Object.SlideSize.Size.Height + 40)px;">Next Slide</button>    
      
</body>
</html>