@model TemplateContext<Slide>

@{
    Slide contextObject = Model.Object;
    int slideNumber = SlideHelper.GetVisibleSlideNumber(contextObject);
}
    
@helper EmitShape(IShape shape, Slide contextObject) 
{
    var margin = Model.Global.Get<int>("slideMargin");
    var origin = new Point(0, 0);

    if (shape is AutoShape && (((AutoShape)shape).ShapeType == Aspose.Slides.ShapeType.Rectangle || ((AutoShape)shape).ShapeType == Aspose.Slides.ShapeType.NotDefined))
    {
        var subModel = Model.SubModel((AutoShape)shape);
        subModel.Local.Put<Point>("origin", origin);

        @Include("autoshape", subModel)
    }
    else if (shape is VideoFrame)
    {
        var subModel = Model.SubModel((VideoFrame)shape);
        subModel.Local.Put<Point> ("origin", origin);

        @Include("videoframe", subModel)
    }
    else if (shape is PictureFrame)
    {
        var subModel = Model.SubModel((PictureFrame)shape);
        subModel.Local.Put<Point>("origin", origin);

        @Include("pictureframe", subModel)
    }
    else if (shape is Table)
    {
        var subModel = Model.SubModel((Table)shape);
        subModel.Local.Put<Point>("origin", origin);

        @Include("table", subModel)
    }
    else if (shape is Shape)
    {
        var subModel = Model.SubModel((Shape)shape);
        subModel.Local.Put("origin", origin);

        @Include("shape", subModel)
    }  
}
    
<div id="slide-@slideNumber" class="slide master-bg" 
     data-transition-type="@contextObject.SlideShowTransition.Type"
     data-transition-speed="@contextObject.SlideShowTransition.Speed"
     data-transition-direction="@SlideHelper.GetSlideTransitionDirection(contextObject)"
     data-transition-extra="@SlideHelper.GetSlideTransitionExtraData(contextObject)"
     style="display: none;">
    
        @foreach (var shape in contextObject.LayoutSlide.MasterSlide.Shapes)
        {
            if(shape.Placeholder == null) {
                @EmitShape(shape, contextObject);
            }
        }

        @foreach (var shape in contextObject.LayoutSlide.Shapes)
        {
            if(shape.Placeholder == null) {
                @EmitShape(shape, contextObject);
            }
        }        
        
        @foreach (var shape in contextObject.Shapes)
        {
            @EmitShape(shape, contextObject);
        }

</div>