@model TemplateContext<Presentation>
    
@{
    Presentation contextObject = Model.Object;
}

<!DOCTYPE html>

<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
    <meta charset="utf-8" />
    <title>@contextObject.DocumentProperties.Title</title>
    <link rel="stylesheet" type="text/css" href="pres.css" />
    <link rel="stylesheet" type="text/css" href="master.css" />
    <script src="jquery.js"></script>
    <script src="anime.js"></script>
    <script src="main.js"></script>
</head>
<body>
    <div class="bg">
        @foreach (Slide slide in contextObject.Slides)
        {
            if (slide.Hidden)
            {
                continue;
            }
            
            @Include("slide", Model.SubModel(slide))
        }
    </div>
    
    <button class="navigation" id="PrevSlide" style="left: @(Model.Object.SlideSize.Size.Width / 2 - 100 - 5)px; top: @(Model.Object.SlideSize.Size.Height + 40)px;">Prev Slide</button>
    <button class="navigation" id="NextSlide" style="left: @(Model.Object.SlideSize.Size.Width / 2 + 5)px; top: @(Model.Object.SlideSize.Size.Height + 40)px;">Next Slide</button>
</body>
</html>