@model TemplateContext<PictureFrame>

@{
    PictureFrame contextObject = Model.Object;
    
    var origin = Model.Local.Get<Point>("origin");
    
    string imgSrc = ImageHelper.GetImageURL(contextObject.PictureFormat.Picture.Image, Model);
    if (contextObject.PictureFormat.Picture.Image.ContentType == "image/tiff")
    {
        ImageHelper.ConvertTiffToPng(contextObject.PictureFormat.Picture.Image, Model);
        imgSrc += ".png";
    }
    
    string id = "slide-" + contextObject.Slide.SlideId + "-shape-" + contextObject.UniqueId;
    string animationAttributes = "";
    
    if (Model.Local.ContainsKey("animationAttributes"))
    {
        animationAttributes = Model.Local.Get<string>("animationAttributes");
    }
    string svgFilter = ImageHelper.CreateSvgFilter(contextObject, id + "-effect");
    string filterStyle = string.IsNullOrEmpty(svgFilter) ? "" : "filter: url(#" + id + "-effect)";
}
@functions
{
    string GetImagePositioningStyle(PictureFrame pictureFrame, Point origin)
    {
        return ImageHelper.GetImagePositioningStyle(pictureFrame, origin);
    }
}
@Raw(svgFilter)
<img src="@imgSrc" id="@id" class="pictureframe" style="@GetImagePositioningStyle(contextObject, origin) @Raw(filterStyle)" @Raw(animationAttributes)/>