@model TemplateContext<Portion>

@{
    Portion contextObject = Model.Object;
    var parentTextFrame = Model.Local.Get<TextFrame>("parentTextFrame");
    var tableContentFlag = Model.Local.Get<bool>("tableContent");
    var clickHyperlink = contextObject.PortionFormat.GetEffective().HyperlinkClick;
    string hyperlink = clickHyperlink != null ? clickHyperlink.ExternalUrl : "";
}

@functions
{
    string GetTextStyle(Portion portion, TextFrame textFrame, bool isTableContent)
    {
        return TextHelper.GetTextStyle(portion.PortionFormat.GetEffective(), textFrame.TextFrameFormat.GetEffective(), isTableContent, Model);
    }
    string FixVerticalTabulation(string text)
    {
        return text.Replace("\v", "<br>");
    }
}

@if (!string.IsNullOrEmpty(hyperlink))
{
    @Raw("<a href=\"" + hyperlink + "\">");
}
<span class="portion" style="@GetTextStyle(contextObject, parentTextFrame, tableContentFlag)">@Raw(FixVerticalTabulation(contextObject.Text))</span>
@if (!string.IsNullOrEmpty(hyperlink))
{
    @Raw("</a>");
}