@inherits RazorEngineCore.RazorEngineTemplateBase<TemplateContext<Shape>>

@{
    Shape contextObject = Model.Object;

    var origin = Model.Local.Get<Point>("origin");
    var positionStyle = ShapeHelper.GetPositionStyle(contextObject, origin);
    var textStyle = "position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);";

    string imgSrc = ShapeHelper.GetShapeAsImageURL<Shape>(contextObject, Model);

    string id = "slide-" + contextObject.Slide.SlideId + "-shape-" + contextObject.UniqueId;
    string animationAttributes = "";

    if (Model.Local.ContainsKey("animationAttributes"))
    {
        animationAttributes = Model.Local.Get<string>("animationAttributes");
    }

    var shapeStyle = positionStyle + " background-image: url(" + imgSrc + "); background-size: 100% 100%;";
    shapeStyle += String.Format(" transform: rotate({0}deg);", (int)contextObject.Rotation);
}

@{
    <div class="shape" id="@id" style="@Raw(shapeStyle)" @Raw(animationAttributes)>
        @if (contextObject is AutoShape)
        {
        AutoShape shape = contextObject as AutoShape;
        var subModel = Model.SubModel((TextFrame)shape.TextFrame);
        subModel.Local.Put("origin", origin);
        subModel.Local.Put("parent", shape);

        @Include("textframe", subModel)
        }
    </div>
}