@inherits RazorEngineCore.RazorEngineTemplateBase<TemplateContext<VideoFrame>>

@{
    VideoFrame contextObject = Model.Object;

    var origin = Model.Local.Get<Point>("origin");
    var positionStyle = string.Format("left: {0}px; top: {1}px; width: {2}px; height: {3}px;",
                                        (int)contextObject.X,
                                        (int)contextObject.Y,
                                        (int)contextObject.Width,
                                        (int)contextObject.Height);

    int width = (int)contextObject.Width;
    int height = (int)contextObject.Height;

    string videoSrc = VideoHelper.GetVideoURL(contextObject, Model);
    string contentType = contextObject.EmbeddedVideo.ContentType;

    string id = "slide-" + contextObject.Slide.SlideId + "-shape-" + contextObject.UniqueId;
    string animationAttributes = "";

    if (Model.Local.ContainsKey("animationAttributes"))
    {
        animationAttributes = Model.Local.Get<string>("animationAttributes");
    }
}

<table class="table" id="@id" style="@positionStyle" @Raw(animationAttributes)>
    <tr>
        <td>
        <video style="@positionStyle" controls>
            <source src="@videoSrc" type="@contentType">
            Your browser does not support the video tag.
        </video>
        </td>
    </tr>
</table>
